<div>
	<span>Hello {{userProfile.name}}! Your current location is set to {{userProfile.postalCode}}.</span>
</div>
<div ng-controller="CreateEventCtrl">
	<h2>Create new meetup</h2>
	<form class="pure-form pure-form-aligned">
		<fieldset>
			<div class="pure-control-group">
				<label for="postalCode">Postal Code</label>
				<input id="postalCode" type="text" ng-model="eventSettings.postalCode">
			</div>
			<div class="pure-control-group">
				<label for="password">Sport</label>
				<input id="password" type="password" placeholder="Password">
			</div>
			<div class="pure-control-group">
				<label for="email">Number of results</label>
				<input id="email" type="email" placeholder="Email Address">
			</div>
		</fieldset>
	</form>
</div>