<div>
	<h1>Hello {{userProfile.name}}! Your current location is set to {{userProfile.postalCode}}.</h1>
</div>
<div ng-controller="CreateEventCtrl">
	<h3>Create new meetup</h3>
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="postalCode">Postal Code</label>
			<div class="controls">
				<input type="text" id="inputPostalCode" ng-model="eventSettings.postalCode">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="sportInput">Sport</label>
			<div class="controls">
				<multiselect class="input-lg"
				ng-model="selectedSport"
				options="sport.name for sport in sportList"
				change="selected()" ></multiselect>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="numResults">Number of results</label>
			<div class="controls">
				<input type="text" id="inputNumResults" ng-model="eventSettings.numResults">
			</div>
		</div>
	</form>
</div>