<div>
	<h1>Hello {{userProfile.name}}! Your current location is set to {{userProfile.postalCode}}.</h1>
</div>
<div ng-controller="CreateEventCtrl">
	<h3>Create new meetup</h>
	<form class="pure-form pure-form-aligned">
		<fieldset>
			<div class="pure-control-group">
				<label for="postalCode">Postal Code</label>
				<input id="postalCode" type="text" ng-model="eventSettings.postalCode">
			</div>
			<div class="pure-control-group">
				<label for="sport">Sport</label>
				<multiselect class="input-lg"
				ng-model="selectedSport"
				options="sport.name for sport in sportList"
				change="selected()" ></multiselect>
			</div>
			<div class="pure-control-group">
				<label for="email">Number of results</label>
				<div ui-slider min="0" max="200" ng-model="eventSettings.sliderExample1"></div>
			</div>
		<fieldset>
	</form>
</div>