
<div class="home-page-wrapper">
	<div class="home-page-top-bar"></div>

	<div class="logo-wrapper lato">
		<div style="margin-left: -50px">Let's</div>
		<div style="margin-left: 85px">Play</div>
	</div>

	<form class="form-group" style="text-align: center; margin-top: 30px">
	    <fieldset>
	    <div style="text-align: center;">
            <input class="form-control home-input" type="text" placeholder="Your Name" ng-model="userName" style="width: 250px; display: inline-block">
        </div>
        <div style="text-align: center;">
            <input class="form-control home-input" type="text" placeholder="Your Postal Code" ng-model="postalCode" style="width: 250px; display: inline-block">
        </div>

	        <div type="submit" class="home-page-btn" ng-click="signIn()">Sign in</div>
	    </fieldset>
	</form>

	<div class="home-page-bottom-bar"></div>
</div>
