
<div class="home-page-wrapper">
	<div class="home-page-top-bar"></div>

	<div class="logo-wrapper lato">
		<div style="margin-left: -50px">Let's</div>
		<div style="margin-left: 85px">Play</div>
	</div>

	<form class="pure-form pure-form-aligned home-form">
	    <fieldset>
			<div class="pure-control-group home-input-row">
	            <input type="text" placeholder="Name" ng-model="userName">
	        </div>

	        <div class="pure-control-group home-input-row">
	            <input type="text" placeholder="Postal code" ng-model="postalCode">
	        </div>

	        <button type="submit" class="pure-button pure-button-primary" style="margin-top: 10px; background-color: #e74c3c" ng-click="signIn()">Sign in</button>
	    </fieldset>
	</form>

	<div class="home-page-bottom-bar"></div>
</div>
