
<div class="home-page-wrapper">
	<div class="home-page-top-bar"></div>

	<div class="logo-wrapper lato">
		<div style="margin-left: -50px">Let's</div>
		<div style="margin-left: 85px">Play</div>
	</div>

	<form class="pure-form pure-form-aligned home-form">
	    <fieldset>
			<div class="pure-control-group home-input-row">
	            <input type="text" placeholder="Your Name" ng-model="userName">
	        </div>

	        <div class="pure-control-group home-input-row">
	            <input type="text" placeholder="Your Postal Code" ng-model="postalCode">
	        </div>

	        <div type="submit" class="home-page-btn" ng-click="signIn()">Sign in</div>
	    </fieldset>
	</form>

	<div class="home-page-bottom-bar"></div>
</div>
