<div class="menu-header-wrapper" style="text-align: center; padding-top: 30px">
  <nav class="navbar navbar-inverse navbar-embossed" role="navigation" style="width: 440px; display: inline-block;">
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
      <ul class="nav navbar-nav navbar-left">
        <li><a ng-class="{active: isCreate}" ng-click="selectMenu('true')" href="javascript:void(0)">Create Event</a></li>
        <li><a ng-class="{active: !isCreate}" ng-click="selectMenu('false')" href="javascript:void(0)">Search For Event</a></li>
       </ul>
    </div>
  </nav>
</div>

<div class="menu-content-container" style="text-align: center">
  <div class="menu-content-wrapper">
    <div ng-show="isCreate">
      <h4>Mandatory fields:</h4>
      <form class="form-group" style="margin-top: 0; display: inline-block">
        <div class="form-row">
            Meetup Name:
            <input class="form-control home-input" type="text" placeholder="Enter Meetup Name" ng-model="eventSettings.subject" style="width: 250px; display: inline-block; margin-left: 13px">
        </div>
        <div class="form-row">
            Sports:
            <multiselect class="input-lg"
            ng-model="selectedSport"
            options="sport.name for sport in sportList"
            change="selected()" style="margin-left: 58px; width: 280px"></multiselect>
        </div>
        <div class="form-row tall-row" ng-if="selectedSport.id === 10">
            <input class="form-control other-sport" type="text" placeholder="Other Sport" ng-model="customSportName">
        </div>
        <div class="form-row tall-row">
            Address:
            <input class="form-control" type="text" placeholder="Enter Address or Postal Code" ng-model="eventSettings.address" style="width: 250px; display: inline-block; margin-left: 60px">
        </div>
        <div class="date-row tall-row">
            Select Date:
            <input type="text" class="form-control" datepicker-popup="MMMM dd, yyyy" ng-model="date" min-date="td" is-open="opened" ng-required="true" style="width: 250px; margin-left: 35px; display:inline-block" ng-click="open($event)">
        </div>
        <div class="form-row tall-row">
            <span>Start Time</span><span style="float:right">End Time</span><br>
            <timepicker ng-model="startTime" style="display: inline-block"></timepicker>
            <timepicker ng-model="endTime" style="display: inline-block; float:right"></timepicker>
        </div>
        <hr style="width: 70%">
        <h4>Optional fields:</h4>
        <div class="form-row">
            Price:
            <input class="form-control home-input" type="text" placeholder="Potential price" ng-model="price" style="width: 250px; display: inline-block; margin-left: 85px">
        </div>
        <div class="form-row">
            Maximum:
            <input class="form-control home-input" type="text" placeholder="Maximum participants" ng-model="capacity" style="width: 250px; display: inline-block; margin-left: 45px">
        </div>
        <a href="javascript:void(0)" class="btn btn-block btn-inverse" ng-click="createNewEvent()" style="width: 280px; display: inline-block; margin-top: 20px">Create this event</a>
      </form>
    </div>
    <div ng-show="!isCreate">
      <div style="display: table; width: 80%; margin: 0 auto;">
        <h4>Confirmed Meetups</h4>
        <table id="filter-table" class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th># of Participants</th>
            <th>Chat</th>
            <th>Leave group</th>
          </tr>
        </thead>
          <tbody>
          <tr>
             <td>Payday fun fun group</td>
             <td>5</td>
             <td><a href="javascript:void(0)" class="btn btn-lg btn-inverse filter-control-btn">Join chatroom</a></td>
             <td><a href="javascript:void(0)" class="btn btn-lg btn-danger filter-control-btn">Unsubscribe</a></td>
          </tr>
          <tr>
            <td>Subject:</td>
             <td>Super long styling group and stuff</td>
             <td><a href="javascript:void(0)" class="btn btn-lg btn-inverse filter-control-btn">Join chatroom</a></td>
             <td><a href="javascript:void(0)" class="btn btn-lg btn-danger filter-control-btn">Unsubscribe</a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <hr style="width: 70%">
      <div style="margin-bottom: 30px">
        <h4>Search for meetups</h4>
        <div>
          Show closest <input type="text" value="" placeholder="Number" class="form-control" style="width: 80px; display: inline-block; margin-left: 10px; text-align: center"> of Meetups
          <a href="javascript:void(0)" class="btn btn-block btn-inverse" style="width: 100px; display: inline-block; margin-left: 20px">Update</a>
        </div>
      </div>
      <div style="display: table; width: 80%; margin: 0 auto;">
        <table id="filter-table" class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th># of Participants</th>
              <th>Sports Type</th>
              <th>Time details</th>
              <th>Chat</th>
            </tr>
          </thead>
            <tbody>
            <tr>
               <td>Payday fun fun group</td>
               <td>5</td>
               <td>Football</td>
               <td>2012- blah</td>
               <td><a href="javascript:void(0)" class="btn btn-lg btn-inverse filter-control-btn">Join chatroom</a></td>
            </tr>
            <tr>
              <td>Super long styling group and stuff</td>
               <td>10</td>
               <td>Football</td>
               <td>2012- blah</td>
               <td><a href="javascript:void(0)" class="btn btn-lg btn-inverse filter-control-btn ">Join chatroom</a></td>
            </tr>
            </tbody>
          </table>
          </div>
    </div>
  </div>
</div>