<div class="menu-header-wrapper" style="text-align: center; padding-top: 30px">
  <nav class="navbar navbar-inverse navbar-embossed" role="navigation" style="width: 440px; display: inline-block;">
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
      <ul class="nav navbar-nav navbar-left">
        <li><a ng-class="{active: isCreate}" ng-click="selectMenu('true')" href="javascript:void(0)">Create Event</a></li>
        <li><a ng-class="{active: !isCreate}" ng-click="selectMenu('false')" href="javascript:void(0)">Search For Event</a></li>
       </ul>
    </div>
  </nav>
</div>

<div class="menu-content-container" style="text-align: center">
  <div class="menu-content-wrapper">
    <div ng-show="isCreate">
      <h4>Mandatory fields:</h4>
      <form class="form-group" style="margin-top: 0; display: inline-block">
        <div class="form-row">
            Meetup Name:
            <input class="form-control home-input" type="text" placeholder="Enter Meetup Name" ng-model="eventSettings.eventName" style="width: 250px; display: inline-block; margin-left: 13px">
        </div>
        <div class="form-row">
            Sports:
            <multiselect class="input-lg"
            ng-model="selectedSport"
            options="sport.name for sport in sportList"
            change="selected()" style="margin-left: 58px; width: 280px"></multiselect>
        </div>
        <div class="form-row tall-row" ng-if="selectedSport.id === 10">
            <input class="form-control other-sport" type="text" placeholder="Other Sport" ng-model="customSport.name">
        </div>
        <div class="date-row tall-row">
            Select Date:
            <input type="text" class="form-control" datepicker-popup="MMMM dd, yyyy" ng-model="eventSettings.date" min-date="td" is-open="opened" ng-required="true" style="width: 250px; margin-left: 35px; display:inline-block" ng-click="open($event)">
        </div>
        <div class="form-row tall-row">
            <span>Start Time</span><span style="float:right">End Time</span><br>
            <timepicker ng-model="eventSettings.startTime" style="display: inline-block"></timepicker>
            <timepicker ng-model="eventSettings.endTime" style="display: inline-block; float:right"></timepicker>
        </div>
        <hr style="width: 70%">
        <h4>Optional fields:</h4>
        <div class="form-row">
            Price:
            <input class="form-control home-input" type="text" placeholder="Potential price" ng-model="eventPrice" style="width: 250px; display: inline-block; margin-left: 85px">
        </div>
        <div class="form-row">
            Maximum:
            <input class="form-control home-input" type="text" placeholder="Maximum participants" ng-model="eventSettings.maxPeople" style="width: 250px; display: inline-block; margin-left: 45px">
        </div>
        <a href="javascript:void(0)" class="btn btn-block btn-primary" style="width: 280px; display: inline-block; margin-top: 20px">Create this event</a>
      </form>
    </div>
    <div ng-show="!isCreate">
      I am no
    </div>
  </div>
</div>