!!!
html(ng-app="myApp", style="height: 100%; min-height: 500px")
  head
    meta(charset='utf8')
    base(href='/')
    title Let's Play
    //- link(data-require='bootstrap-css@2.3.2', data-semver='2.3.2', rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css')
    //- link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
    link(rel="stylesheet", type="text/css", href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/home.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/flat-ui.css')
    link(rel='stylesheet', href='/js/lib/multiselect/style.css')
  body(style="margin: 0; height: 100%", ng-controller="MainCtrl")
    block body