/* app css stylesheet */

.lato {
  font-family: 'Lato', sans-serif;
}

.form-horizontal .control-label {
  width: 46% !important;
}

.form-horizontal input {
  margin-left: 20px;
}

.input-block-level {
  margin-left: 0px !important;
}

.form-row {
	text-align: left;
	margin-left: 50px;
}

.date-row {
	display: inline-block;
	margin-left: 35px;
}

.tall-row {
	margin-top: 15px;
}

.btn-meridian {
	color: white !important;
	background-color: #1ABC9C !important;
	margin-left: 8px;
}

.other-sport {
	width: 250px  !important;
	display: block;
	float: right;
	margin-right: 15px;
}