/* app css stylesheet */

.lato {
  font-family: 'Lato', sans-serif;
}

.form-horizontal .control-label {
  width: 46% !important;

}

.form-horizontal input {
  margin-left: 20px;
}

.input-block-level {
  margin-left: 0px !important;
}