.chat-side-tab {
 height: 100%;
 width: 400px;
 position: fixed;
 background-color: #16A085;
 transition: width linear 1s;
}

.message-container {
	text-align: left;
	margin-left: 5%;
	font-size: 22px;
}

.message-container {
	text-align: left;
	margin-left: 5%;
	font-size: 22px;
}