.home-page-wrapper {
  height: 100%;
  position: relative;
}

.home-page-top-bar {
  height: 7%;
  width: 100%;
  background-color: #e67e22;
  position: absolute;
  top: 0;
  left: 0;
}

.home-page-bottom-bar {
  height: 7%;
  width: 100%;
  background-color: #e67e22;
  position: absolute;
  bottom: 0;
  left: 0;
}

.logo-wrapper {
  font-size: 10em;
  font-weight: 100;
  text-align: center;
  padding-top: 5%;
}

.logo-wrapper > * {
  line-height: 0.8;
  width: auto;
  display: block;
}

.home-form {
  margin-top: 50px;
  text-align: center;
}

.home-page-btn {
  display: inline-block;
  padding: 8px 15px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  background-color: #e67e22;
  margin-top: 20px;
  border-radius: 3px;
  color: #FAFAFA;
}

.home-page-btn:hover {
  background-color: #D66F13;
}

.home-input {
  margin-top: 15px;
}