.menu-header-wrapper .navbar-nav > li > a {
	padding: 15px 50px;
	background-color: #e67e22;
}

.menu-header-wrapper .navbar-inverse .navbar-collapse {
	background-color: #e67e22;
}

.menu-header-wrapper .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #333;
}
.menu-header-wrapper .navbar {
	margin-bottom: 15px;
}

.menu-content-wrapper {
	display: inline-block;
	height: 75%;
	width: 80%;
	border-radius: 10px;
	border: 3px solid #e67e22;
}
.menu-header-wrapper .navbar-nav > li > .active::after{
	position: absolute;
	left: 40%;
	bottom: -24px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #e67e22;
	content: "";
}

multiselect .btn:hover, .btn:focus {
	color: #333;
}
