.menu-header-wrapper .navbar-nav > li > a {
	padding: 15px 50px;
	background-color: #16A085;
}

.menu-header-wrapper .navbar-inverse .navbar-collapse {
	background-color: #16A085;
}

.menu-header-wrapper .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #333;
}
.menu-header-wrapper .navbar {
	margin-bottom: 15px;
}

.menu-content-wrapper {
	display: inline-block;
	width: 80%;
	border-radius: 10px;
	border: 3px solid #16A085;
}
.menu-header-wrapper .navbar-nav > li > .active::after{
	position: absolute;
	left: 40%;
	bottom: -24px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #16A085;
	content: "";
}

multiselect .btn:hover, .btn:focus {
	color: #333;
}

.filter-text-align {
	display: inline-block;
	margin-left: 30px;
	font-size: 22px;
	padding: 10px 0;
}

.filter-control-btn {
	margin-left: 20px !important;
	width: 180px !important;
	display: inline-block !important;
}

.filter-table .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle !important;
}
.table {
	margin-bottom: 0;
}

.table thead th {
	text-align: center;
}
